ion-text {
    font-weight: bold;
}

swiper-slide {

    div.image {
        width: 100%;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
}
