<ion-row>
	<ion-col size="5" class="ion-justify-content-end">
		<ion-card class="img"></ion-card>
	</ion-col>
	<ion-col size="7" class="ion-justify-content-start">
		<ion-row>
			<ion-col size="12" class="ion-align-items-end">
				<ion-text class="name">{{user.fullName}}</ion-text>
			</ion-col>
			<ion-col size="12">
				<ion-text class="level" [ngClass]="user.level">{{user.level}}</ion-text>
			</ion-col>
		</ion-row>
	</ion-col>

	<ion-col size="12" class="buttons ion-justify-content-center">
		<ion-row>
			<ion-col size="6" class="ion-justify-content-end">
				<app-button [buttonText]="'MEU CORPO'" [iconName]="'accessibility'" (buttonClick)="goTo('#')"></app-button>
			</ion-col>
			<ion-col size="6">
				<app-button [buttonText]="'OBJETIVOS E CONQUISTAS'" [iconName]="'trophy'" (buttonClick)="goTo('#')"></app-button>
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>