<app-header></app-header>
<app-profile 
      *ngIf="user$ && user$.length > 0"
      [user]="user$[0]">
</app-profile>
<ion-content>
	<div class="ion-margin-horizontal">
		<app-slider
			class="ion-margin-end"
			carouselTitle="Personal Online"
			[images]="trainingImages"
			[textUppercase]="true">
		</app-slider>

		<app-slider 
			carouselTitle="Programas"
			[images]="trainingImages"
			[textUppercase]="true">
		</app-slider>

		<app-slider 
			carouselTitle="Conteúdos"
			[images]="trainingImages"
			[textUppercase]="true">
		</app-slider>
	</div>
</ion-content>